################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sistema Hospitalar/.vs/Sistema Hospitalar/v16/Server/sqlite3
